click==7.1.2
gunicorn==20.1.0
Flask==1.1.2
joblib
json5==0.9.5
numpy==1.20.2
pandas
pandas-flavor==0.2.0
scikit-learn>=0.18
scipy>=0.15.1
Werkzeug==1.0.1
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1

