<!DOCTYPE html>
<html>
    <head>
        <title>SRAE_API_Detector</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    
    <body >
        
    <style>
        label{display: inline-block; width: 250px;}
        body {background-color: #e9e1e0;margin-left: 100px; margin-right: 100px;
               margin-top: 10px; margin-bottom: 100px;}
        form {text-align: center;}
        button.centrado {width: 110px; 
                        margin-left: 50%;
                        transform: translateX(-50%);}


button {}
        
    </style>
        <div class="login">
            <!--<h1>SRAE_Sensor de Riesgo de Abandono Escolar</h1>-->
             <!-- Main Input For Receiving Query to our ML -->
            <form action="{{ url_for('predict')}}"method="post">
                <div align='center'>
                    <h1>SRAE_Sensor de Riesgo de Abandono Escolar</h1>
                    <img src="escudoIEBS.png" style="width: 120px; height: 100px; position: absolute; top: 0px; left: 100px">
                    <img src="wordcloud-1.jpeg" style="width: 120px; height: 100px; position: absolute; top: 0px; right: 90px">
                </div>
                <div align='center'>
                <legend>Caracter&iacute;sticas Estudiantiles</legend>
                </div>
                <div class="form-row">
                        <div class="col"> 
                            <br>
                            <!--<form class="p-3 text-center" action="/predict", method="post" enctype="multipart/form-data">-->
                                <label for="size_2">Fecha de Nacimiento</label>
                                <input class="form control" type="date" name="edad" required>
                                <br>
                                <label for="size_3">Hermanos en el Colegio</label>
                                <input class="form control" type="number"  placeholder="4"  min="0" max="6" name="hermanos_Colegio" required>
                                <br>
                                <label for="size_2"> G&eacute;nero (Femenino:1, Masculino:2) </label>
                                <input class="form control" maxlength="100"  type="number" placeholder="1" pattern="^[1-2]([,][1-2])?$" min="1" max="2" name="gender" required>
                                <br>
                                <label for="size_3">Grado actual</label>
                                <input class="form control" type="number"  placeholder="6"  min="6" max="11" name="curso" required>
                                <br>
                                <label for="size_2">Puntaje Sisb&eacute;n</label>
                                <input class="form control" type="number" placeholder="70.2" min="0" max="100" step="any" name="puntaje_sisben" required>
                                <br>
                                <label for="size_3">Distancia (kil&oacute;metros)</label>
                                <input class="form control" type="number" placeholder="0.645" min="0" max="10" step="any" name="distancia" required>
                                <br>
                                <label for="size_2">A&ntilde;o de ingreso</label>
                                <input class="form control" type="number" placeholder="2018" pattern="^[2016-2020]([,][2016-2020])?$" min="2000" max="2020" name="year_in" required>
                                <br>
                                <label for="size_3">Grado de ingreso</label>
                                <input class="form control" type="number"  placeholder="7" min="1" max="11" name="grado_in" required>
                                <br>
                        </div>
                        <div class="col">
                            <br>
                                <label for="size_3">Matem&aacute;ticas</label>
                                <input class="form control" type="number" placeholder="5.0" min="1" max="5" step="0.01" name="math" required>
                                <br>
                                <label for="size_3">Ciencias Naturales</label>
                                <input class="form control" type="number" placeholder="1.0" min="1" max="5" step="0.01" name="cn" required>
                                <br>
                                <label for="size_3">Ingl&eacute;s</label>
                                <input class="form control" type="number" placeholder="1.0" min="1" max="5" step="0.01" name="ing" required>
                                <br>
                                <label for="size_3">Espa&ntilde;ol</label>
                                <input class="form control" type="number" placeholder="1.0" min="1" max="5" step="0.01" name="esp" required>
                                <br>
                                <label for="size_3">C&aacute;tedra de Paz</label>
                                <input class="form control" type="number" placeholder="1.0" min="1" max="5" step="0.01" name="cp" required>
                                <br>
                                <label for="size_3">Sociales</label>
                                <input class="form control" type="number" placeholder="1.0" min="1" max="5" step="0.01" name="soc" required>
                                <br>
                                <label for="size_3">Religi&oacute;n</label>
                                <input class="form control" type="number" placeholder="1.0" min="1" max="5" step="0.01" name="rel" required>
                                <br>
                                <label for="size_3">Artes</label>
                                <input class="form control" type="number" placeholder="1.0" min="1" max="5" step="0.01" name="art" required>
                                <br>
                                <label for="size_3">Educaci&oacute;n F&iacute;sica</label>
                                <input class="form control" type="number" placeholder="1.0" min="1" max="5" step="0.01" name="edf" required>
                                <br>
                                <label for="size_3">Tecnolog&iacute;a</label>
                                <input class="form control" type="number" placeholder="1.0" min="1" max="5" step="0.01" name="tech" required>
                                <br>
                                <label for="size_3">Emprendimiento</label>
                                <input class="form control" type="number" placeholder="1.0" min="1" max="5" step="0.01" name="emp" required>
                                <br>
                                <label for="size_3">&Eacute;tica y Valores</label>
                                <input class="form control" type="number" placeholder="1.0" min="1" max="5" step="0.01" name="etv" required>
                                <br>
                                <br>
                        </div>
                        <button class="centrado" style="width:500px;height:50px;" type="submit" class="btn btn-primary btn-block btn-xs">Predecir Riesgo de Abandono</button>
                </div>
            </div>
            <br>
            </form> 
        </div>   
        <div align='center'>
           {{ prediction_text }}
        </div>
        <br>   
            <!--<input class="btn btn-primary mt-3" type="submit" value="Predecir Riesgo de Abandono">-->
            <!--<p class="text-center">El riesgo de abandono es de {{ prediction }}</p>-->
    </body>
</html>
